body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.w100 {
  width: 100%;
}

// visually hides an element while still making it accessible to screen readers
.hidden {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

// flex
.flex {
  display: flex;
}

.flexColumn {
  flex-direction: column;
}

.jcEnd {
  justify-content: flex-end;
}

.jcSpaceBetween {
  justify-content: space-between;
}

.aiCenter {
  align-items: center;
}

